
# ignore the settings folder and files for VSCode and PSS
.vscode/*
*.psproj
*TempPoint*

# Ignore staging info from Visual Studio
library/WindowsEventForwarding/.vs/*
library/WindowsEventForwarding/WindowsEventForwarding/bin/*
library/WindowsEventForwarding/WindowsEventForwarding/obj/*

# ignore PowerShell Studio MetaData
WindowsEventForwarding/WindowsEventForwarding.psproj
WindowsEventForwarding/WindowsEventForwarding.psproj.bak
WindowsEventForwarding/WindowsEventForwarding.psprojs
WindowsEventForwarding/WindowsEventForwarding.psproj


# ignore pester test result files
TestResults/*